<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulário</title>
</head>
<body>
    <main>
        <h1>Cadastro Autor</h1>
        <form id="formulario">
            <label for="txtnome">Nome:</label>
            <input type="text" id="txtnome">
            <br/>
            <br/>
            <label for="txtpais">País:</label>
            <input type="text" id="txtpais">
            <br/>
            <br/>
            <input type="submit" id="botaosalvar" value="Salvar">
            <input type="reset" value="Cancelar">
            <br/>
        </form>

        <h2>Tabela de Autores</h2>
        <div id="tabela"></div>
    </main>
    <script src="/js/entidades/Autor.js"></script>
    <script src="/js/controllers/AutorController.js"></script>
    <script src="/js/app.js"></script>    
</body>
</html>


<!-- <script src="/js/services/autorHTTPService.js"></script> -->
