<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulário</title>
</head>
<body>
    <main>
        <h1>Cadastro Autor</h1>
        <form id="formulario">
            <label for="txtnome">Nome:</label>
            <input type="text" id="txtnome">
            <br/>
            <br/>
            <label for="txtpais">País:</label>
            <input type="text" id="txtpais">
            <br/>
            <br/>
            <input type="submit" id="botaosalvar" value="Salvar">
            <input type="reset" value="Cancelar">
            <br/>
        </form>
    </main>    
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/Js/Controllers/autorController.js"></script>
<script src="/Js/Entidades/autor.js"></script>
<script src="/Js/Autor/app.js"></script>   
</html>