<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Autores</title>
</head>
<body>    
    <main>
        <table>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>País</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>    
    <script src="bmmotores_jquery.js"></script>
</body>
</html>